<div class="bg-blue-400 ">
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
    <p>hola</p>
</div>