<section class="z-10 flex w-screen max-w-[1900px] h-full  max-h-[990px] py-20  md: flex-wrap md: pt-[55px] md: pb-0 md:h-screen">
  <div class="w-full md:w-2/4 flex justify-center items-center overflow-hidden">
    <img src="../../../../../assets/img/Rectangle 37.png" alt="" class="h-auto w-full block" >
  </div>
  <div class="bg-level-1-color w-full md:w-2/4 flex flex-col h-auto justify-center gap-0 md:gap-14 md:h-full px-5 py-2">
    <h1 class="text-white font-bold text-[32px]  overflow md:text-7xl ">
      {{text.homeComponent.titleHeading}} 
      <br >
      {{text.homeComponent.subTitleHeading}}
      <br >
      <span class="opacity-[0.5]">{{text.homeComponent.subTitleCountry}}</span></h1>
    <h3 class="text-white text-[18px] opacity-[0.9] md:text-lg ">
      {{text.homeComponent.Paragraph}}
    </h3>
  </div>  
</section>
