<section class="flex w-screen max-w-[1900px] h-screen max-h-[990px] py-20 ">
  <div class="flex justify-center items-center w-2/4 overflow-hidden">
    <img src="../../../../../assets/img/Rectangle 37.png" alt="" class="h-auto w-full block" >
  </div>
  <div class="w-2/4 flex flex-col h-full justify-center gap-14">
    <h1 class="text-white font-bold text-7xl overflow">
      {{text.homeComponent.titleHeading}} 
      <br>
      {{text.homeComponent.subTitleHeading}}
      <br>
      <span class="opacity-[0.5]">{{text.homeComponent.subTitleCountry}}</span></h1>
    <h3 class="text-white text-lg opacity-[0.9]">
      {{text.homeComponent.Paragraph}}
    </h3>
  </div>  
</section>
