
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portafolio-primary: mat.define-palette(mat.$indigo-palette);
$portafolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portafolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portafolio-theme: mat.define-light-theme((
  color: (
    primary: $portafolio-primary,
    accent: $portafolio-accent,
    warn: $portafolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portafolio-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: #111111;
    scroll-behavior: smooth;
    overflow-x: hidden;
    //background: linear-gradient(to right, var(--bg-base-color)  30%,  var(--bg-level-1-color) 30%);
}

:root {
    //Colors
    --bg-base-color: #000000;
    --bg-level-1-color: #181823;
    --bg-light-grey-color:#8491A0;
    --bg-dark-grey-color:#5B6876;
    --tx-text-color: #ffffff;
    --tx-primary-color: #5221E6;
    --tx-green-accent-color: #3CC74E;
    --tx-pink-accent-color: #E95D90;
    --main-peach-accent-color: #FFF3E4;
    --main-violent-accent-color: #FBE4FF;

}

.all-bg-primary{
    background: var(--tx-primary-color);
    color: var(--tx-text-color);
    opacity: 1 !important;
}


.button{
    background: var(--bg-base-color);
    border: 2px solid var(--tx-primary-color);
    color: var(--tx-text-color)
   
}

