@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: #111111;
    scroll-behavior: smooth;
    overflow-x: hidden;
    //background: linear-gradient(to right, var(--bg-base-color)  30%,  var(--bg-level-1-color) 30%);
}

:root {
    //Colors
    --bg-base-color: #000000;
    --bg-level-1-color: #181823;
    --bg-light-grey-color:#8491A0;
    --bg-dark-grey-color:#5B6876;
    --tx-text-color: #ffffff;
    --tx-primary-color: #5221E6;
    --tx-green-accent-color: #3CC74E;
    --tx-pink-accent-color: #E95D90;
    --main-peach-accent-color: #FFF3E4;
    --main-violent-accent-color: #FBE4FF;

}

.all-bg-primary{
    background: var(--tx-primary-color);
    color: var(--tx-text-color);
    opacity: 1 !important;
}


.button{
    background: var(--bg-base-color);
    border: 2px solid var(--tx-primary-color);
    color: var(--tx-text-color)
   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
