/*************Custom Properties**********************************/

:root { 

    /**colores de fondo */

    --first-color: #aaaaaa;
    --second-color: rgba(247,223,30,0.75); /*#f7df1e;*/
    --second-modal-color: rgba(247,223,30,0.75);
    --found-color: #111111;

    /*color de letra*/
    --text-color: #aaaaaa;
    --text-second-color: #f7df1e;

    /*tipo de letra*/

    --font: "Open Sauce","arial","sans-serif";
    --link-color: rgba(247,223,30,0.75);

    /*ancho de pantalla*/
    --max-width-screen: 1440px;
    --header-height: 84px;


    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}



/*************Reset**********************************/
html {
  box-sizing: border-box;
  width: 100%;

  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  }
  

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
     background-color: var(--found-color); 
  }
  
  a {
    scroll-behavior: smooth;
    transition: all 0.5s ease-out;
    color: var(--first-color);
  }



  
  a:hover {
    opacity: 0.60;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }
  li{
    list-style: none;

  
  }

  

  span,svg {
    pointer-events: none
  }

 button:hover{
  opacity: 0.60;
 }





/*************Components**********************************/
button{
    background-color: transparent;
    color: var(--first-color);
    border-radius: 8px;
    border-color: var(--first-color);
    cursor: pointer;
    gap: 10px;
}



.home {
    background-color: transparent;
    margin-left: 1rem;
    margin-right: 120px;
    color: var(--first-color);
    padding: 16px, 20px, 16px, 20px;
    border: none;
}


.switchBtn {
  
  display: inline-block;
  width: fit-content;
  height: 34px;
}
.switchBtn input {display:none;}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--found-color);
  -webkit-transition: .4s;
  transition: .4s;
  padding: 8px;
  color: var(--first-color);
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: var(--first-color);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slide {
  background-color: #8CE196;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}

/*************Utilities**********************************/

.container{

  max-width: var(--max-width-screen);
  margin-left: auto;
  margin-right: auto;
  height: var(--header-height);
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: var(--found-color);
}

a{
  cursor: pointer;
}

/*************Site Styles**********************************/




/*******************************header**************************/


.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  background-color: var(--found-color);
  z-index: 999;
  
}


.menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}



.menu{
  padding: 0;
  margin: 0;
  gap: 3rem;
  display: flex;
  
}

.container ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-size: 16px;
}

.container ul li::before {
  content: "";
  height: 3px;
  width: 100%;
  transform: scaleX(0)  ;
  background: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.container ul li:hover::before {
  transform: scaleX(1);
  background-color: var(--text-second-color);
}

.contact-me{
  width: 169px;
  height: 48px;
  padding: 16px, 20px, 16px, 20px;
  margin-right: 1rem;
}

.menu-btn{
  display: none;
}


@media (max-width :720px) {
  

  .header {
    
    left: 0;
    bottom: 0;
  }

  .container{
    
    width: 100%;
  }


  .menu{
    position: fixed;
    background-color: var(--found-color);
    left: 0;
    bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0 ;
    
  }


  .is-active{
    display: none;
  }


  .menu li{
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;

  }

  .menu li a{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }


  .contact-me{
    display: none;
  }
  
  .menu-btn{
    display: block;
    border: 0;
    font-size: 2;
    margin-right: 0.5rem;
    fill: var(--first-color);
  }

  .none{
    display: none ;
  }

  .container ul li::before {
    content: "";
    height: 3px;
    width: 100%;
    transform: scaleX(0)  ;
    background: var(--first-color);
    position: absolute;
    left: 0;
    bottom: 4px;
    transition: 0.4s ease-out;
  }

  .hero-text{
    font-size: 55px !important;
    line-height: 50px !important;
  }
    
  
}


/****************************************************************/

.hero-home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/Nick.jpg");
    background-position: top;
    background-position-x: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1000;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    left: 42px;
    top: 472px;
    font-weight: 700;
    font-size: 80px;
    line-height: 71px;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: var(--found-color);
    background-attachment: fixed ;
    
}

.btn-descarga{
    padding: 5px;
}

.highlight{
    color: var(--second-color);
}
.main-buttons{
    padding: 2rem 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-my-project-btn{
    width: 198px;
    height: 48px;
    border:  0 18px 0 0;
}

.dowland-my-cv-btn{
    width: 198px;
    height: 48px;
    margin: 0 0 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width :720px) {

.main-buttons{
   
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0;
    
}

  .see-my-project-btn{
    width: 100%;
}

.dowland-my-cv-btn{
    width: 100%;
    height: 48px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

}


/**************************who is this guy*********************************/

.who-is-this-guy{
 
  width: 100%;
  height: calc(100vh - 84px) ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.img-guy {
  width: 50%;
  height: 100%;
  overflow: hidden;
  object-fit: none;

  
}



.imagen-nick{
  width: 100%;
  height: auto;
  opacity: 0.30;
  background-position: top top;
  background-repeat: no-repeat;
  background-size: cover;


  
}


.descripcion{

  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about {
  font-size: 20px;
  color:  var(--second-color);
  padding-left: 2rem;
 
}


.conocimientos h3{ 
  font-size: 48px;
  padding: 0 2rem;
}

.descripcion p{
  font-size: 24px; 
  padding: 0 2rem;
  line-height: 40px;
  text-align: justify; 

} 

@media (max-width :720px) {
  .who-is-this-guy{

    width: 100%;
    
    display: inline-flex;
    flex-direction: column;
  }

  .descripcion{

    width: 100%;
    height: auto;

  }
  
  .img-guy {
    width: 100%;
    height: 50%;
    overflow: hidden;
    object-fit: none;
   /*  background-image: url("./Nick.jpg");
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover; */
    
  }

  .about {
    font-size: 16px;
    padding-left: 2rem;
   
  }
  
  
  .conocimientos h3{ 
    font-size: 36px;
    padding: 0 2rem;
  }
  
  .descripcion p{
    font-size: 16px; 
    padding: 0 2rem;
    line-height: 25px;

  } 


}

/**********************cartas de tecnología*************************************/
.tecnologia{
  width: 100%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.skills{
  padding-bottom: 0;
  padding-top: 0 ;
  height: 42px;
}



.titulo-tecnologias{
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  
 
}


.card {

  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  padding: 3rem;
  border: 2px solid var(--first-color);
  justify-content: center;
  align-items: center;
  margin: 20px;
}




figure figcaption{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card svg{
  width: 180px;
  height: 180px;
  fill: var(--first-color);

 
}

.card i:hover{
  color: var(--text-second-color);
}




.card{
  fill: var(--text-second-color);
  
}




.menu-tecnologias{
  padding: 0;
  margin: 0;
  gap: 3rem;
  display: flex;
  
}

.menu-tecnologias li{
  position: relative;

}



.container-skills  ul li a {
  text-decoration: none;
  color: var(--first-color);
  font-size: 16px;
}


.container-skills  ul li::before {
  content: "";
  height: 3px;
  width: 100%;
  transform: scaleX(0)  ;
  background: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}

.container-skills  ul li:hover::before {
  transform: scaleX(1);
  background-color: var(--text-second-color);
}

.card div {
  padding: 0;
  width: 276px;
  height: 326px;
  padding: 3px;
  text-align:center;
  overflow-y: auto;
  overflow-x: hidden;
  


}
.card div span{
  margin-top: auto;
  margin-bottom: auto;
}

 .card:hover svg {
  fill: var(--second-color);
 
  
}


.card:hover  figcaption {
  color: var(--second-color);
  
}

.card:hover{
  border-color: var(--second-color);
} 




@media (max-width :1000px) {

  .slider{
    width: 100% ;
  }

  .cards {
    width: 100%;
  }
  .card svg{
    width: 110px;
    height: 110px;
  }

  .card div {
    width: 206px ;
    height: 256px;
  }


}


@media (max-width :720px) {
  .cards {
    grid-template-columns: 1fr 1fr ;

   
  }

  .card {
    padding: 2rem;
    margin: 1rem;
  }

  /* +60 */
  .card svg{
    width: 150px;
    height: 85px;
    fill: var(--first-color);
  }

  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .card div {
    width: 214px;
    height: 192px;
  }

  .card figcaption{
    font-size: 10px;
  }

}

@media (max-width :458px) {
  .card{
    margin: 2px 2px 1rem 2px;
  }
  .card svg{
    width: 110px;
    height: 70px;
  }
  .card div {
    width: 174px;
    height: 177px;
  }

}

@media (max-width :360px) {
  .card svg{

    padding: 0;
    fill: var(--first-color);
  }


  .cards {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 0;
    margin: 0;
  }


  .card svg{
    width: 85px;
    height: 70px;
  }
  .card div {
    width: 149px;
    height: 177px;
  }

}
  
/*slider slide*/




.cards{
  display: none;
}

.slider-slides .active{
  display: grid;
}

.slider-btns {
  position: absolute;
  
  
  
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 3rem;
  font-weight: bold;
}


.slider-btns:active{
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--second-color);

}
.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border:0;
  
  text-decoration: none;
  background-color: transparent;
  color: var(--second-color);

  transition: all 0.3s ease;
}

.slider a:hover {
  font-size: 50px;
  color: var(--second-modal-color);
}
/************************PROYECTOS***************************************/

.projects{
  margin: 5px;
}

.project{
 display: flex;
 width: auto;
 padding: 3px;
 height: 75vh;
}

.project img{
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  margin: 0.5rem;
  transition: 0.5s ease;
}

.project img:hover{
  cursor: crosshair;
  opacity: 1;
  filter: contrast(120%);
  width: 300px;
}

@media (max-width :720px) {

}

@media (max-width :360px) {


  


  .project img:hover{

    width: 200px;
  }
}



/******************************/

/* .tarjetas {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: auto;
  padding: 3px;
  height: 75vh;
  
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;

 width: auto;
 
 height: 75vh;
 width: 0%;
 flex-grow: 1;
 object-fit: cover;
 opacity: 8;
 margin: 0.5rem;
 transition: 0.5s ease;
 
}

.tarjeta:hover{
  cursor: crosshair;
  opacity: 1;
  filter: contrast(120%);
  width: 300px;
}


.btn-projectos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.btn-projectos button {
  margin: 10px;
  background-color: var(--found-color);
  width: 50%;
  height: 45px;
}

.descripcion-projecto{
  margin: 10px;
  width: 90%;
  height: 90%;
  background-color: var(--found-color);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  overflow-y: auto;
}

.descripcion-projecto span {
  margin: 1rem;
  
}

.btn-projectos button:hover{
  color: white;
}
 */


/* .projectss div img{
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  margin: 0.5rem;
  transition: 0.5s ease;
  position: absolute;
} */


/************************Contact-me***************************************/

.contact-me-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-me-form > *{
  margin: 3rem;
}

.texto{
  width: 50% ;
  padding: 1rem;
  text-align: left;
}

.formulario{
  width: 50%;
  padding: 1rem;

}

.formulario form{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}




.formulario form input{
  margin-bottom: 2rem;
  height: 42px;
  padding: 5px;
  background-color: var(--found-color);
  border-radius: 10px;
  color: var(--first-color);
}

.area{
  height: 118px;
  padding: 5px;
  background-color: var(--found-color);
  border-radius: 10px;
  resize: vertical;
  color: var(--first-color);
}


label{
  margin-bottom: 1px;
}

.button-enviar{

  background-color: transparent;
  margin-top: 1rem ;
  color: var(--first-color);
  border-radius: 8px;
  border-color: var(--first-color);
  cursor: pointer;
  width: 20%;
  height: 60px;
  gap: 10px;

  margin-top: 2rem;

}


@media (max-width :720px) {
  .contact-me-form{
    display: flex;
    flex-direction: column;
  }

  .texto{
    margin: 0;
    width: 100%;
  }

  .formulario{
    width: 100%;
    margin: 0;
  }

  .button-enviar{
    width: 40%;
    margin-top: 1.5rem;
  }

  .formulario form input{
    margin-bottom: 1.5rem;

  }
}




/***********************footer******************************************/

footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.linea {
  border-width: 0.1px 0 0 0  ;
  border: solid;
}

.footer-logo{
padding: 2rem;

}

.made-with{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


.redes-sociales{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista-redes-sociales{
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.lista-redes-sociales li{
  padding: 0.5rem;
  border-width: 2px ;
  border-radius: 100%;
  border: solid;
}

.footer-tecnologias{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.lista-redes-sociales li a{
  text-decoration: none;

 
}

.lista-redes-sociales li a i{
  font-size: 1.18rem;
}

hr {
  width: 80%;
  border-color: var(--text-second-color);
}

@media (max-width :720px) {
  footer{
    margin-bottom: var(--header-height);
    margin-top: 0;
  }
  .lista-redes-sociales{

    gap: 1rem;
  }
}


@media (max-width :720px) {

}

.nones{
  display: none !important;
}


.padding0{
  padding: 0;
}


/**/

.tarjetas {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;

  width: 80%;
  height: 80vh;
  margin: 0 auto;
  font-family: var(--font);
  
}

@media (max-width: 600px){
  .tarjetas{
    height: auto;
  }
}

@media (min-width: 600px) {
  .tarjetas{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .tarjetas {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tarjeta {
  position: relative;
  display: flex;
  align-items: flex-end;

  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: auto !important;
  text-align: center;
  color: white;
  
  border-radius: 7%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .tarjeta {
    height: 350px;
  }
}
.tarjeta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.tarjeta:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.tarjeta:nth-child(1):before {
  background-image: url("https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  filter: grayscale(1);
}
.tarjeta:nth-child(2):before {
  background-image: url("https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  filter: grayscale(1);
}
.tarjeta:nth-child(3):before {
  background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  filter: grayscale(1);
}
.tarjeta:nth-child(4):before {
  background-image: url("https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  filter: grayscale(1);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  margin-bottom: 0;
}

.content div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;

}

.btn{
  text-decoration: none;
  padding: 1rem;
  background-color: var(--found-color);
  width: 8rem;
  border-radius: 10px;
}

.btn:hover{
  opacity: 0.8;
}


/* .btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  
  width: 8rem;
  
  
  color: white;
  background-color: black;
  border: none;
}
 */
@media (hover: hover) and (min-width: 600px) {
  .tarjeta:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .tarjeta:hover,
.tarjeta:focus-within {
    align-items: center;
  }
  .tarjeta:hover:before,
.tarjeta:focus-within:before {
    transform: translateY(-4%);
  }
  .tarjeta:hover:after,
.tarjeta:focus-within:after {
    transform: translateY(-50%);
  }
  .tarjeta:hover .content,
.tarjeta:focus-within .content {
    transform: translateY(0);
  }
  .tarjeta:hover .content > *:not(.title),
.tarjeta:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .tarjeta:focus-within:before, .tarjeta:focus-within:after,
.tarjeta:focus-within .content,
.tarjeta:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}


@media (min-width: 390px) {

  .tarjeta:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
    width: 50vh;
  }
    .content {
    transform: translateY(calc(100% - 4.5rem));
    width: 50vh;
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .tarjeta:hover,
.tarjeta:focus-within {
    align-items: center;
  }
  .tarjeta:hover:before,
.tarjeta:focus-within:before {
    transform: translateY(-4%);
    
  }
  .tarjeta:hover:after,
.tarjeta:focus-within:after {
    transform: translateY(-50%);
    
  }
  .tarjeta:hover .content,
.tarjeta:focus-within .content {
    transform: translateY(0);
  }
  .tarjeta:hover .content > *:not(.title),
.tarjeta:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .tarjeta:focus-within:before, .tarjeta:focus-within:after,
.tarjeta:focus-within .content,
.tarjeta:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
  
} 





/*probando tarjetas*/

